*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
ul,ol{
  list-style:none;
}
a{
  text-decoration: none;
  color: inherit;
}
button, input{
  font: inherit;
}
//表示去除边框元素颜色
:focus{
  outline: none;
}